version: "3.9"

services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_finance
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - finance-network 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: "10s"
      timeout: "5s"
      retries: 5
    restart: unless-stopped

  backend:
    image: viniciusmtrevisan/finance-backend
    build:
      context: ./backend/Finance
    container_name: backend_finance
    env_file:
      - .env
    depends_on:
      postgres_db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_DOCKER}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SERVER_PORT: ${SERVER_PORT}
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    networks:
      - finance-network
    restart: unless-stopped

  frontend:
    image: viniciusmtrevisan/finance-frontend
    build:
      context: ./frontend
    container_name: frontend_finance
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - finance-network
    restart: unless-stopped

volumes:
  postgres_data: 
    driver: local

networks:
  finance-network:
    driver: bridge